@import 'fonts.css';

body {
    direction:rtl;
    font-family:vazir;
}
.bottom-attached
{
    position:absolute;
    bottom:0px;
    max-width:100%;
}
.btn-search{
    background:transparent;
    border:none;
    padding :6px 20px;
}
.btn-search:hover{
    background-color:#f1f1f1;
}
